/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../imgs/wallpaper.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;

}

/* HEADER STYLES */
.header {
    display: grid;
    grid-template-columns: 10% 70% 20%;
    margin-top: 50px;
}

.logo {
    padding: 10% 0 0 50%;
    margin: 5%;
    font-family: Audiowide;
    font-size: 1.5rem;

}

.logo a {
    text-decoration: none;
    color: rgba(255, 255, 240, 0.842);

}

.signbtn {
    padding: 10%;
}

.button {
    background-color: inherit;
    border: solid 2px rgba(255, 255, 240, 0.609);
    border-radius: 2px;
    text-decoration: none;
    padding: 5% 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(255, 255, 240, 0.568);
}

/* CONTENT STYLES */
.content {
    display: grid;
    grid-template-columns: 4% 25% 42% 25% 4%;
    
    /* padding: 5% 0 0 5%; */

}
.leftside{
    padding: 0 0 0 25%;
}

.hello, .video{
    color: ivory;
    font-size: 1rem;
    font-weight: 300;
    padding-bottom: 5%;
}

h1 {
    color: ivory;
    font-size: 5rem;
    font-family: Audiowide;
}
.discription{
    color: ivory;
    font-family: montserrat;
    font-weight: 300;
    line-height: 1.5;
}
.takeatour{
    margin-top: 20%;
}
.video{
    padding: 30% 0 10% 0;
    text-align: left;
}
.videoimg{
    position: absolute;
    width: 20%;
    border-radius: 5px;
    
}



@media(max-width: 600px){
    .header{
        grid-template-columns: max-content ;
    }


}